h1 {
    color:deeppink;
    font-family:'Courier New', Courier, monospace;
}
h2 {
    color:darkslategray;
    font-family:'Courier New', Courier, monospace;
}
h3 {
    color:hotpink;
    font-family:'Courier New', Courier, monospace;
}
img {
    border-radius: 30px;
}
body {
    background-color: pink;
    font-family:'Courier New', Courier, monospace;
}